.container{
    background-color: #e5e5e5;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%; 
}

header{
    background-color: #cf2b2b;
    max-width: 800px;
    width: 100%;
    height: 92px;
    padding: 8px 0px 5px 21px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    box-shadow: -10px 4px 1em black;
    display: flex;
    flex-direction: column;
    top: 0;
    left: auto;
    position: fixed;
    z-index: 1;

}

.logo{
    font-family: righteous;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -0.012px;
    line-height: 55px;
    top: 0;
    left: 0;
}

.pratoPrincipal{
    margin-top: 21px;
    width: 100%;
}

.pratoPrincipal > ul > li {
    cursor: pointer;
}

.bebida > ul > li {
    cursor: pointer;
} 

.sobremesa > ul > li {
    cursor: pointer;
}

.sectionName {
    font-family: righteous;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    letter-spacing: -0.018px;
    margin-bottom: 10px;
    margin-left: 7px;
}

ul {
    display: flex;
    overflow-x: scroll;

    
}

li {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    width: 172px;
    padding: 10px;
    border: 5px solid white;
    box-sizing: border-box;
    color: white;
    box-shadow: 2px 0px 0.5em #33333350;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 7px;
}


ul > li > h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #333333;
    margin-top: 8px;

}

ul > li > p {
    color: #a6a6a6;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 5px;
    min-height: 54px;
}

img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    
}

main{
    padding: 8px 0px 5px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 102px;
    margin-top: 92px;

}


.bebida {
    margin-top: 27px;
    width: 100%;
}


.sobremesa {
    margin-top: 27px;
    width: 100%;
}

.preco{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #333333;
    width: 100px;
    float: left;
    margin-top: 10px;
    min-height: 20px;
}

footer{
    position: fixed;
    width: 100%;
    height: 92px;
    background-color: white;
    max-width: 800px;
    display: flex;
    align-items: center;
    bottom: 0;
}

button{
    width: 364px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 20px;
    font-family: roboto;
    line-height: 24px;
    letter-spacing: -0.018px;
    text-align: center;
    color: white;
    font-weight: 400;
    background-color: #cbcbcb;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    cursor: pointer;
}

.selecaoPrato{
color: green;
border: 5px solid green;

}

.selecaoBebida{
    color: green;
    border: 5px solid green;
    
    }

.selecaoSobremesa {
    color: green;
    border: 5px solid green;
    
}

.botaoVerde{
    background-color: green;
    cursor:pointer;
}

.popup-wrapper{
    background: rgba(255, 255, 255, 0.897);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.popup{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    max-width: 377px;
    height: 353px;
    background-color: #50d074;
    border-radius: 9px;
    z-index: 2;
    text-align: center;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    box-shadow: 2px 0px 0.5em #33333350
}

.popup-content{
    width: 100%;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.popup-content > button {
    width: 100%;
    letter-spacing: -0.07em;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    height: 52px;

}

.pedirBtn{
    background-color: white;
    color: #50d074;
}

.cancelPopup{
    background-color: transparent;
    height: 52px;

}

.pedidos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 28px;

}

.pedido{
    margin-bottom: 13px;
    display: flex; 
    justify-content: space-between;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 00.018em;
    color: #ffffff;
}
@media (max-width: 1000px) {
    ::-webkit-scrollbar{
        display: none;
    }
}